body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2937;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.nav-items li {
  margin-right: 3rem;
}

.nav-items a {
  color: white;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
}

nav {
  background-color: #333;
}

li {
  margin: 0 10px;
}

/* Add hover color */
nav ul.nav-items li a:hover {
  color: white;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
